PORT=3001
STACKS_API_BASE=https://api.testnet.hiro.so
ESCROW_CONTRACT_ADDRESS=ST1CGS8GGS43K5NEWWPHTWG011ZS5AXQ5PMYQ5R9F
ESCROW_CONTRACT_NAME=lex-nakamoto-escrow
SPONSOR_PRIVATE_KEY=replace_with_your_testnet_private_key_hex
SPONSOR_MAX_TX_PER_DAY=10
SPONSOR_MAX_ESCROW_SATS=100000000
SPONSOR_ALLOWED_TOKEN_CONTRACTS=ST1CGS8GGS43K5NEWWPHTWG011ZS5AXQ5PMYQ5R9F.mock-sbtc
SPONSOR_MIN_STX=10
SPONSOR_WARN_STX=20\nEXPOSE_METRICS=false
